add_action('admin_head', 'wtabdm');

function wtabdm() {?>
  <style>
    .editor-styles-wrapper {
        background-color: #333 !important;
        color: #ddd !important;
    }
    .wp-block-code code {
        color: #ddd;
    }
    .components-panel{
        background-color: #ddd !important
    }
    .components-panel__body.is-opened>.components-panel__body-title{
        background-color: #fff
    }
  </style><?php
}
